[submodule "cores/protocol"]
	path = cores/protocol
url=git://github.com/LogicCores/0-protocol.git
[submodule "cores/responder"]
	path = cores/responder
url=git://github.com/LogicCores/0-responder.git
[submodule "cores/time"]
	path = cores/time
url=git://github.com/LogicCores/0-time.git
[submodule "cores/export"]
	path = cores/export
url=git://github.com/LogicCores/0-export.git
[submodule "cores/container"]
	path = cores/container
url=git://github.com/LogicCores/0-container.git
[submodule "cores/route"]
	path = cores/route
url=git://github.com/LogicCores/0-route.git
[submodule "cores/data"]
	path = cores/data
	url = git@github.com:LogicCores/0-data.git
[submodule "cores/process"]
	path = cores/process
	url = git@github.com:LogicCores/0-process.git
[submodule "cores/loop"]
	path = cores/loop
url=git://github.com/LogicCores/0-loop.git
[submodule "cores/skin"]
	path = cores/skin
url=git://github.com/LogicCores/0-skin.git
[submodule "lib/cjson"]
	path = lib/cjson
url=git://github.com/LogicCores/cjson.git
[submodule "lib/bash.origin"]
	path = lib/bash.origin
url=git://github.com/bash-origin/bash.origin.git
[submodule "cores/page"]
	path = cores/page
	url = git://github.com/LogicCores/0-page.git
[submodule "lib/sm.hoist.VisualComponents"]
	path = lib/sm.hoist.VisualComponents
	url = git://github.com/sourcemint/sm.hoist.VisualComponents.git
[submodule "cores/proxy"]
	path = cores/proxy
	url = git://github.com/LogicCores/0-proxy.git
[submodule "lib/smi.cache"]
	path = lib/smi.cache
	url = git://github.com/sourcemint/smi.cache.git
[submodule "lib/pinf-loader-js"]
	path = lib/pinf-loader-js
	url = git://github.com/pinf/pinf-loader-js.git
[submodule "cores/load"]
	path = cores/load
	url = git://github.com/LogicCores/0-load.git
[submodule "cores/watch"]
	path = cores/watch
	url = git@github.com:LogicCores/0-watch.git
[submodule "cores/edit"]
	path = cores/edit
	url = git://github.com/LogicCores/0-edit.git
[submodule "cores/test"]
	path = cores/test
	url = git://github.com/LogicCores/0-test.git
[submodule "cores/component"]
	path = cores/component
	url = git://github.com/LogicCores/0-component.git
[submodule "cores/template"]
	path = cores/template
	url = git://github.com/LogicCores/0-template.git
[submodule "cores/layout"]
	path = cores/layout
	url = git://github.com/LogicCores/0-layout.git
