
body {
    background-color: #FFFFFF;
}

.main.container {
    margin-top: 2em;
}

.main.menu {
    margin-top: 0px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.main.menu .item img.logo {
    margin-right: 1.5em;
}

.overlay {
    float: left;
    margin: 0em 3em 1em 0em;
}

.overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}

.main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.overlay.fixed .menu {
    left: 800px;
}

.borderless.main.menu .item {
    padding-top: 5px;
    padding-bottom: 5px;
}

#community-menu {
    margin-top: 0px;
}
#community-menu .item {
    padding-top: 5px;
    padding-bottom: 5px;
}


.main.text.container {
    margin-bottom: 20px;
}

.main.header {
    margin-top: 0px;
}

.text.container.tab {
    margin-top: 30px;
    margin-bottom: 50px;
}

.text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
}

.vertical.footer.segment .section.divider {
    margin-top: 25px;
    margin-bottom: 10px;
}

.vertical.footer.segment {
    padding-top: 40px;
    padding-bottom: 25px;
}

.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.justify.text {
    text-align: justify;
}

.footer .license {
    max-width: 500px !important;
    text-align: justify !important;
}

.definition.popup {
    font-weight: bold;
    cursor: help;
    border-bottom: 1px dotted;
}

.ui.text.container.page {
    font-size: 1em;
    padding-top: 30px;
    padding-bottom: 50px;
    max-width: 90% !important;
    min-height: 500px;
}

.main-menu-pinned {
    padding-top: 100px;
}

.hidden {
	display: none !important;
}
